@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background:
    oklch(1.0000 0 0);
  --foreground:
    oklch(0.2101 0.0318 264.6645);
  --card:
    oklch(1.0000 0 0);
  --card-foreground:
    oklch(0.2101 0.0318 264.6645);
  --popover:
    oklch(1.0000 0 0);
  --popover-foreground:
    oklch(0.2101 0.0318 264.6645);
  --primary:
    oklch(0.6716 0.1368 48.5130);
  --primary-foreground:
    oklch(1.0000 0 0);
  --secondary:
    oklch(0.5360 0.0398 196.0280);
  --secondary-foreground:
    oklch(1.0000 0 0);
  --muted:
    oklch(0.9670 0.0029 264.5419);
  --muted-foreground:
    oklch(0.5510 0.0234 264.3637);
  --accent:
    oklch(0.9491 0 0);
  --accent-foreground:
    oklch(0.2101 0.0318 264.6645);
  --destructive:
    oklch(0.6368 0.2078 25.3313);
  --destructive-foreground:
    oklch(0.9851 0 0);
  --border:
    oklch(0.9276 0.0058 264.5313);
  --input:
    oklch(0.9276 0.0058 264.5313);
  --ring:
    oklch(0.6716 0.1368 48.5130);
  --chart-1:
    oklch(0.5940 0.0443 196.0233);
  --chart-2:
    oklch(0.7214 0.1337 49.9802);
  --chart-3:
    oklch(0.8721 0.0864 68.5474);
  --chart-4:
    oklch(0.6268 0 0);
  --chart-5:
    oklch(0.6830 0 0);
  --radius:
    0.75rem;
  --sidebar:
    oklch(0.9670 0.0029 264.5419);
  --sidebar-foreground:
    oklch(0.2101 0.0318 264.6645);
  --sidebar-primary:
    oklch(0.6716 0.1368 48.5130);
  --sidebar-primary-foreground:
    oklch(1.0000 0 0);
  --sidebar-accent:
    oklch(1.0000 0 0);
  --sidebar-accent-foreground:
    oklch(0.2101 0.0318 264.6645);
  --sidebar-border:
    oklch(0.9276 0.0058 264.5313);
  --sidebar-ring:
    oklch(0.6716 0.1368 48.5130);
  --font-sans:
    Geist Mono, ui-monospace, monospace;
  --font-serif:
    serif;
  --font-mono:
    JetBrains Mono, monospace;
  --shadow-color:
    #000000;
  --shadow-opacity:
    0.05;
  --shadow-blur:
    4px;
  --shadow-spread:
    0px;
  --shadow-offset-x:
    0px;
  --shadow-offset-y:
    1px;
  --letter-spacing:
    0rem;
  --spacing:
    0.25rem;
  --shadow-2xs:
    0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs:
    0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl:
    0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal:
    0rem;
}

.dark {
  --background:
    oklch(0.1797 0.0043 308.1928);
  --foreground:
    oklch(0.8109 0 0);
  --card:
    oklch(0.1822 0 0);
  --card-foreground:
    oklch(0.8109 0 0);
  --popover:
    oklch(0.1797 0.0043 308.1928);
  --popover-foreground:
    oklch(0.8109 0 0);
  --primary:
    oklch(0.7214 0.1337 49.9802);
  --primary-foreground:
    oklch(0.1797 0.0043 308.1928);
  --secondary:
    oklch(0.5940 0.0443 196.0233);
  --secondary-foreground:
    oklch(0.1797 0.0043 308.1928);
  --muted:
    oklch(0.2520 0 0);
  --muted-foreground:
    oklch(0.6268 0 0);
  --accent:
    oklch(0.3211 0 0);
  --accent-foreground:
    oklch(0.8109 0 0);
  --destructive:
    oklch(0.5940 0.0443 196.0233);
  --destructive-foreground:
    oklch(0.1797 0.0043 308.1928);
  --border:
    oklch(0.2520 0 0);
  --input:
    oklch(0.2520 0 0);
  --ring:
    oklch(0.7214 0.1337 49.9802);
  --chart-1:
    oklch(0.5940 0.0443 196.0233);
  --chart-2:
    oklch(0.7214 0.1337 49.9802);
  --chart-3:
    oklch(0.8721 0.0864 68.5474);
  --chart-4:
    oklch(0.6268 0 0);
  --chart-5:
    oklch(0.6830 0 0);
  --sidebar:
    oklch(0.1822 0 0);
  --sidebar-foreground:
    oklch(0.8109 0 0);
  --sidebar-primary:
    oklch(0.7214 0.1337 49.9802);
  --sidebar-primary-foreground:
    oklch(0.1797 0.0043 308.1928);
  --sidebar-accent:
    oklch(0.3211 0 0);
  --sidebar-accent-foreground:
    oklch(0.8109 0 0);
  --sidebar-border:
    oklch(0.2520 0 0);
  --sidebar-ring:
    oklch(0.7214 0.1337 49.9802);
  --radius:
    0.75rem;
  --font-sans:
    Geist Mono, ui-monospace, monospace;
  --font-serif:
    serif;
  --font-mono:
    JetBrains Mono, monospace;
  --shadow-color:
    #000000;
  --shadow-opacity:
    0.05;
  --shadow-blur:
    4px;
  --shadow-spread:
    0px;
  --shadow-offset-x:
    0px;
  --shadow-offset-y:
    1px;
  --letter-spacing:
    0rem;
  --spacing:
    0.25rem;
  --shadow-2xs:
    0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs:
    0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl:
    0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans:
    Geist Mono, ui-monospace, monospace;
  --font-mono:
    JetBrains Mono, monospace;
  --font-serif:
    serif;
  --radius:
    0.75rem;
  --tracking-tighter:
    calc(var(--tracking-normal) - 0.05em);
  --tracking-tight:
    calc(var(--tracking-normal) - 0.025em);
  --tracking-wide:
    calc(var(--tracking-normal) + 0.025em);
  --tracking-wider:
    calc(var(--tracking-normal) + 0.05em);
  --tracking-widest:
    calc(var(--tracking-normal) + 0.1em);
  --tracking-normal:
    var(--tracking-normal);
  --shadow-2xl:
    var(--shadow-2xl);
  --shadow-xl:
    var(--shadow-xl);
  --shadow-lg:
    var(--shadow-lg);
  --shadow-md:
    var(--shadow-md);
  --shadow:
    var(--shadow);
  --shadow-sm:
    var(--shadow-sm);
  --shadow-xs:
    var(--shadow-xs);
  --shadow-2xs:
    var(--shadow-2xs);
  --spacing:
    var(--spacing);
  --letter-spacing:
    var(--letter-spacing);
  --shadow-offset-y:
    var(--shadow-offset-y);
  --shadow-offset-x:
    var(--shadow-offset-x);
  --shadow-spread:
    var(--shadow-spread);
  --shadow-blur:
    var(--shadow-blur);
  --shadow-opacity:
    var(--shadow-opacity);
  --color-shadow-color:
    var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -50px) scale(1.1);
  }
  50% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  75% {
    transform: translate(50px, 50px) scale(1.05);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--muted-foreground);
}

.dark *::-webkit-scrollbar-thumb {
  background-color: var(--border);
}

.dark *::-webkit-scrollbar-thumb:hover {
  background-color: var(--muted-foreground);
}

/* creds Praashoo7 */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.up {
  position: relative;
}

.loaders,
.loadersB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  width: 1.15em;
  height: 13em;
  border-radius: 50px;
  background: hsl(22, 76%, 61%);
}

.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.15em;
  height: 5em;
  background: hsl(22, 76%, 61%);
  border-radius: 50px;
  border: 1px solid hsl(22, 76%, 51%);
  box-shadow:
    inset 5px 5px 15px hsl(22, 76%, 51%),
    inset -5px -5px 15px hsl(22, 76%, 71%);
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
}

.loader::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.15em;
  height: 4.5em;
  background: hsl(22, 76%, 61%);
  border-radius: 50px;
  border: 1px solid hsl(22, 76%, 51%);
  box-shadow:
    inset 5px 5px 15px hsl(22, 76%, 51%),
    inset -5px -5px 15px hsl(22, 76%, 71%);
  mask-image: linear-gradient(
    to top,
    black calc(100% - 48px),
    transparent 100%
  );
}

.loaderA {
  position: absolute;
  width: 1.15em;
  height: 13em;
  border-radius: 50px;
  background: transparent;
}

.ball0,
.ball1,
.ball2,
.ball3,
.ball4,
.ball5,
.ball6,
.ball7,
.ball8,
.ball9 {
  width: 1.15em;
  height: 1.15em;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: hsl(180, 18%, 45%);
  animation: 3.63s move ease-in-out infinite;
}

.loader:nth-child(2) {
  transform: rotate(20deg);
}

.loader:nth-child(3) {
  transform: rotate(40deg);
}

.loader:nth-child(4) {
  transform: rotate(60deg);
}

.loader:nth-child(5) {
  transform: rotate(80deg);
}

.loader:nth-child(6) {
  transform: rotate(100deg);
}

.loader:nth-child(7) {
  transform: rotate(120deg);
}

.loader:nth-child(8) {
  transform: rotate(140deg);
}

.loader:nth-child(9) {
  transform: rotate(160deg);
}

.loaderA:nth-child(2) {
  transform: rotate(20deg);
}

.loaderA:nth-child(3) {
  transform: rotate(40deg);
}

.loaderA:nth-child(4) {
  transform: rotate(60deg);
}

.loaderA:nth-child(5) {
  transform: rotate(80deg);
}

.loaderA:nth-child(6) {
  transform: rotate(100deg);
}

.loaderA:nth-child(7) {
  transform: rotate(120deg);
}

.loaderA:nth-child(8) {
  transform: rotate(140deg);
}

.loaderA:nth-child(9) {
  transform: rotate(160deg);
}

.ball1 {
  animation-delay: 0.2s;
}

.ball2 {
  animation-delay: 0.4s;
}

.ball3 {
  animation-delay: 0.6s;
}

.ball4 {
  animation-delay: 0.8s;
}

.ball5 {
  animation-delay: 1s;
}

.ball6 {
  animation-delay: 1.2s;
}

.ball7 {
  animation-delay: 1.4s;
}

.ball8 {
  animation-delay: 1.6s;
}

.ball9 {
  animation-delay: 1.8s;
}

@keyframes move {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(12em);
  }
  100% {
    transform: translateY(0em);
  }
}